<!DOCTYPE html>

<html>
  <head>
    <style>
      #map {
        height: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .custom-map-control-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
      }
      .custom-map-control-button:hover {
        background: rgb(235, 235, 235);
      }
    </style>
    <title>Geolocation</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
      let map, infoWindow, pos, finalCoords;
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      let savedLocation;
      let savedStreet;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 44.439663, lng:26.096306 },
          zoom: 12,
        });
        infoWindow = new google.maps.InfoWindow();

        const locationButton = document.createElement("button");
        locationButton.textContent = "Localizeaza-ma!";
        locationButton.classList.add("custom-map-control-button");

        map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
        let exists=0;
        locationButton.addEventListener("click", () => {
          // Try HTML5 geolocation.
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
              (position) => {
                pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude,
                };
                savedLocation=pos;
                infoWindow.setPosition(pos);
                infoWindow.setContent(`Te afli aici!`);
                infoWindow.open(map);
                map.setCenter(pos);
                map.setZoom(20);

                // Call geocodeLatLng function after setting pos
                geocodeLatLng(new google.maps.Geocoder(), map, new google.maps.InfoWindow());
              },
              () => {
                handleLocationError(true, infoWindow, map.getCenter());
              }
            );
          } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
          }

          const finalizeButton = document.createElement("button");
          finalizeButton.textContent = "Finalizare";
          finalizeButton.classList.add("custom-map-control-button");

          if(!exists){
          map.controls[google.maps.ControlPosition.TOP_CENTER].push(finalizeButton);
          exists=!exists
          }
          finalizeButton.addEventListener("click", () => {
            
            const str=savedLocation.lat+","+savedLocation.lng;
            form={
              report_id:0,
              user_id:urlParams.get('user_id'),
              strada:savedStreet,
              lat:savedLocation.lat,
              lng:savedLocation.lng,
              path_to_Photo:'',
              description:urlParams.get('description')
            }
            
            const request=new XMLHttpRequest();
        
            const fdata=new FormData();

            fdata.append("report_id",form.report_id);
            fdata.append("user_id",form.user_id);
            fdata.append("strada",form.strada);
            fdata.append("lat",form.lat);
            fdata.append("lng",form.lng);
            fdata.append("path_to_Photo",form.report_id);
            fdata.append("description",form.description);
          
            
            request.open("POST","http://127.0.0.1:8000/raport/creare/");
            request.onload= () =>
            { 
              window.location="http://127.0.0.1:8000/raport/finalizare/";
            };
            request.send(fdata);
            
            //window.location.href = "https://www.example.com"; // replace with your URL
          });

        });
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(
          browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        );
        infoWindow.open(map);
      }

      function geocodeLatLng(geocoder, map, infowindow) {

        if (pos) { // Check if pos is defined
          const latlng = pos;
          console.log(latlng);
          geocoder
            .geocode({ location: latlng })
            .then((response) => {
              if (response.results[0]) {
                map.setZoom(19);

                const marker = new google.maps.Marker({
                  position: latlng,
                  map: map,
                });
                savedStreet=response.results[0].formatted_address;
                infowindow.setContent('<input id="address" type="text" value="' + response.results[0].formatted_address + '">');
                infowindow.open(map, marker);
              } else {
                window.alert("No results found");
              }
            })
            .catch((e) => window.alert("Geocoder failed due to: " + e));
         } else {
           window.alert("No location found to geocode");
         }
      }

      window.initMap = initMap;
    </script>
  </head>
  <body>
    <div id="map"></div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbIP7DzmjSr0vta5i4dcDA9_8deC9ruXk&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>